*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 16px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
